<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>Start page</h1>
      <button (click)="openModal('custom-modal-1')">Open Modal 1</button>
      <button (click)="openModal('custom-modal-2')">Open Modal 2</button>
    </div>
  </div>
</div>

<div class="container">
  <div class="modal fade" id="custom-modal-1" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body">
          <custom-modal-1></custom-modal-1>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="modal fade" id="custom-modal-2" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body">
          <button type="button" class="btn btn-default" (click)="showExportedBuildings()">Show on display</button>
          <button type="button" class="btn btn-default" (click)="downloadExportedBuildings()">Download</button>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>
